.markercluster-map {
  height: 100%;
  width: 100%;
}

.map-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.map-wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex-grow: 1;
  height: 100%; /* Ensure the map takes up available space */
  width:100%;
}

/*.cluster-marker*/
/*{*/
/*  background-color: #66C547;*/
/*  border-radius:50%;*/
/*  width: 30px;*/
/*  height: 30px;*/
/*}*/

.cluster-marker {
  background-color: #66C547;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
  font-size: 0.9em;
  transition: transform 0.2s ease;
  pointer-events: auto;
}

.cluster-marker:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.leaflet-marker-icon.selected
{
  filter: hue-rotate(234deg) saturate(125%) brightness(0.925) drop-shadow(0 0 2px rgba(0,0,0,0.5));
}
.leaflet-marker-icon.selected img
{
  transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform-origin: bottom middle;
}
